<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if (locals.title) { %>
         <%= locals.title %>
      <% } %>
    </title>
    <link rel='stylesheet' href='<%= process.env.BASE_URL %>/css/editor.css' />
  </head>
  <body>
    <div class="metadata">
      <div class="container">
            Editor
            <!--title<br>
            description<br>
            uri<br>
            createData<br>
            updateDate<br>-->
      </div>
    </div>
    <div class="body">
      <div class="container">
        <form method="post">
          <input type="hidden" name="_method" value="<%= locals._method%>" />
          <textarea name="dat"><%= locals.dat %></textarea>
          <button>save</button>
        </form>
      </div>
    </div>
  </body>
</html>