<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    Journaling Johannes Kalma
  </title>
  <!-- theme 2867 styling-->
  <link rel='stylesheet' href='<%= process.env.BASE_URL %>/css/2867/2867.css' />
  <!-- local styling-->
  <link rel='stylesheet' href='<%= process.env.BASE_URL %>/css/style.css' />
</head>

<body>
  
  <nav>
    <section class="container">
	    <a href="./">Home</a> <a href="./login">Login</a> <a href="./editor">New</a> <!--<a href="./realtime">Realtime</a>-->
    </section>
  </nav>
  <section class="container">
  <%- body%>
  </section>
</body>
</html>
