<p>
    <%- data.CONSUMPTION_W %> Watt
</p>
<p>
  <div id="Watt"></div>
</p>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
async function getData() {
try {
    const response = await axios.get('./p1/api');
    document.querySelector('Watt').innerHTML=resonse.CONSUMPTION_W;
    console.log(response);
  } catch (error) {
    console.error(error);
  }
}
getData();
</script>