<h2>Huidig</h2>
<p>
  verbruik: <span id="wattcons"></span>&nbsp;<span>watt</span>
</p>

<p>
  Levering: <span id="wattprod"></span>&nbsp;<span>watt</span>
</p>

<h2>Dag</h2>
<p>
  Verbruikt: <span id="kwhcons"></span>&nbsp;<span>kWh</span>
</p>

<p>
  Geleverd: <span id="kwhprod"></span>&nbsp;<span>kWh</span>
</p>

<p>
  Gas: <span id="m3"></span>&nbsp;<span>m<sup>3</sup></span>
</p>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
async function getData() {
  try {
    let endpoints = [
    './p1/api/current',
    './p1/api/day'
  ];

  Promise.all(endpoints.map((endpoint) => axios.get(endpoint))).then(([{data: current}, {data: day}] )=> {
        console.log({ current, day });
        document.getElementById('wattcons').innerHTML=current.CONSUMPTION_W;
        document.getElementById('wattprod').innerHTML=current.PRODUCTION_W;
        document.getElementById('kwhcons').innerHTML=day.CONSUMPTION_DELTA_KWH.toFixed(1);
        document.getElementById('kwhprod').innerHTML=day.PRODUCTION_DELTA_KWH.toFixed(1);
        
        document.getElementById('m3').innerHTML=day.CONSUMPTION_GAS_DELTA_M3.toFixed(1);


      });


    //const response = await axios.get('./p1/api/current');
    
    //console.log(response.data);
  } catch (error) {
    console.error(error);
  }
}
getData();
setInterval(function(){
   getData();
}, 10000);
</script>
