<style>
.restricted{
  background-image: url("<%= process.env.BASE_URL %>/images/Authorized.jpg");

  height: calc(100vh-3.55555rem);
  width: 100vw;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  width:100%;
  margin:0;
}

</style>

<div class="restricted"></div>
