<style>
.restricted{
  background-image: url("../images/Authorized.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

</style>

<div class="restricted"></div>
