<% if ( locals.message ) { %>
<div class="message"><%- message %></div>
<% } %>
<h1>Totle</h1>

<p><%- content %></p>

<!--<div class="left"><a href=".">⏎</a></div>-->
<% if ( access_granted===true ) { %>
<div class="right"><a href="./editor/<%- file %>">✎</a></div>
<% } %>