<% if ( locals.message ) { %>
    <div class="message">
        <%- message %>
    </div>
<% } %>

<h1>
    <%- data.Title %>
</h1>

<div>
    <% if ( access_granted===true ) { %>
        <a href="./editor/<%- file %>">Edit</a>
    <% } %>
</div>

<p>
    <%- content %>
</p>