<% if ( locals.message ) { %>
<div class="message"><%- message %></div>
<% } %>

<% if ( access_granted===true ) { %>
    <div><a href="./editor/<%- file %>">Edit</a></div>
<% } %>

<h1><%- data.title %></h1>

<p><%- content %></p>
