input:not([type=submit]), select, textarea {
    border-width: 0 0 1px 0;
    border-color: rgb(200,200,200);
    border-style:solid;
    height:3rem;
    width:100%;
    font-size: 16px;
    color:rgb(61, 61, 61);
    margin-bottom: 1.5rem;
    padding:1rem;
}

input[type=text]:focus {
    outline: none;
    border-color: rgb(181, 20, 20);
}

input[type=submit]{
    background-color: rgb(74 74 74);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: rgb(95, 94, 94);
}


