/*=============================
  2867 grid based on flex
=============================*/
/* default is mobile. 'mobile first' */
  .container {
    margin: 0 auto;
    width: 95%;
  }
  
/* any screen larger than 600 px (and smaller than 992 px */  
  @media only screen and (min-width: 601px) {
    .container {
      width: 85%;
    }
  }

/* desktop displays - larger than 992 px */  
  @media only screen and (min-width: 993px) {
    .container {
      width: 70%;
    }
  }
  
  .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
  }

  .row > :first-child {
    margin-left: 0;
  }

  .row:last-child {
    margin-bottom: 0;
  }

  .col {
    flex-grow: 1;
    flex-basis: 0;
  }

  .col, [class^='col-'], [class*=" col-"] {
    margin-left: 4%;
  }
  
  @media screen and (max-width: 768px) {
    .col,
    [class^='col-'],
    [class*=" col-"] {
      flex-grow: 0;
      flex-basis: 100%;
    }
  }
  