/*!
 * Typography 2867
 * Author: Johannes Kalma
*/

html {
  line-height: 1.7;
  font-family: 'Work Sansxxxx', Roboto, Oxygen-Sans, Ubuntu, sans-serif;
  font-weight: normal;
  color: #404040;
}  

@media only screen and (min-width: 0) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 17px;
  }
}

h1, h2, h3, h4, h5, h6{
  font-weight: 600;
  line-height: 1.3rem;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 1.6rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
}

h2 {
  font-size: 1.4rem;
  line-height: 110%;
  margin: 2.3733333333rem 0 1.424rem 0;
}

h3 {
  font-size: 1.2rem;
  line-height: 110%;
  margin: 1.9466666667rem 0 1.168rem 0;
}

h4 {
  font-size: 1.1rem;
  line-height: 110%;
  margin: 1.52rem 0 0.912rem 0;
}

h5 {
  font-size: 0.9rem;
  line-height: 110%;
  margin: 1.0933333333rem 0 0.656rem 0;
}

h6 {
  font-size: 0.8rem;
  line-height: 110%;
  margin: 0.7666666667rem 0 0.46rem 0;
}

em {
  font-style: italic;
}

p {
  margin-bottom: 1.5rem;
}

strong {
  /*font-weight: 500;*/
  font-weight: bolder;
}

small {
  font-size: 75%;
}

/* pre as in pre > code */
pre {
   white-space: pre-wrap;
   background-color: #2a2a2a;
   color: #a1a1a1;
   padding: 15px;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

code, kbd, pre, samp {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 0.75rem;
}
